<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <!--[(property)]="expression" create two way binding with expression -->
    <input class="todo" placeholder="What is need to be done" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">

  </header>

  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos">
        <div class="view complete-{{todo.complete}}" >
          <input type="checkbox" class="toggle" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label for="">{{todo.title}}</label>
          <!--(event)="statement" execute the statement when event occured-->
          <button class="destroy" (click)="removeTodo(todo); getTodos()">X</button>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong> {{todos.length}}</strong>{{todos.length ==1 ? 'item' : 'items'}} left</span>
  </footer>

</section>